.delete-exercise-btn {
    margin-left: 10px;
}

ion-content {
    --padding-start:20px;
    --padding-end:20px;
}

ion-input {
    color: #fefefe;
}

.program-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-label-placement-start.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    margin-inline-end: 3px !important;
}

.action-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.save-btn {
    margin-top: 40px;
}

ion-select {
    font-family: system-ui;
}
ion-input {
    font-family: system-ui;
}

.label-col {
    display: flex;
    flex-direction: column;
}

.label-col ion-select {
    width: auto;
}

ion-select.has-value::part(icon) {
    display: none!important;
}

ion-col {
    padding: 0;
}

ion-item {
    border-radius: 15px;
    margin-bottom: 20px;
    --background: #282D2D;
    color: #fefefe;
    font-family: "Montserrat";
    font-weight: 600;
}

.secondary-toolbar {
    padding-inline: 20px;
}

.secondary-toolbar ion-button {
    color:#282D2D;
}

p {
    text-align: center;
    color: #fefefe;
    font-family: "Montserrat";
}

.create-program-btn {
    margin-top: 50px;
}

.planned-workout-btn {
    margin-bottom: 150px;
}

.info-text {
    font-weight: 100;
    text-align: center;
    font-size: 15px;
}