<top-navigation-bar :pageTitle="Edit my program" backRoute="/programs"></top-navigation-bar>
<ion-content [fullscreen]="true">
    <div class="container">
        <form [formGroup]="formData">
            <ion-input formControlName="title" type="text" class="program-title"
                placeholder="Full body, Legs, Arms..."></ion-input>
            <div
                *ngIf="formData.get('title')?.invalid && (formData.get('title')?.dirty || formData.get('title')?.touched)">
                <span *ngIf="formData.get('title')?.hasError('required')">
                    Title is required
                </span>
            </div>
            <ion-item *ngFor="let j of selectedKeys; let i = index;">
                <ion-select [interfaceOptions]="actionSheetOptions" interface="action-sheet"
                    placeholder="Add an exercise" (ionChange)="exerciseSelected($event, j)"
                    value="{{ selectedExercises[i] }}">
                    <ion-select-option value="{{exercise.id}}"
                        *ngFor="let exercise of exercises">{{exercise.title}}</ion-select-option>
                </ion-select>
                <ion-input *ngIf="selectedKeys.length > 1 && i < (selectedKeys.length - 1)" label="Sets" type="number" (ionChange)="setEntered($event, j)"
                    value="{{ selectedSets[i] }}"></ion-input>
                <ion-button *ngIf="selectedKeys.length > 1 && i < (selectedKeys.length - 1)" (click)="deleteExercise(j)"
                    class="delete-exercise-btn">Delete</ion-button>
            </ion-item>
            <ion-button (click)="updateProgram()" expand="block" shape="round">Save</ion-button>
            <div *ngIf="error">
                <span>
                    {{ error }}
                </span>
            </div>
            <ion-button expand="block" (click)="deleteProgram()" shape="round" color="danger">Delete</ion-button>
        </form>
    </div>
</ion-content>
<app-menu></app-menu>