<top-navigation-bar [pageTitle]="exercise ? exercise.title : 'Exercise'" backRoute="/exercises"></top-navigation-bar>
<ion-content [fullscreen]="true">
    <div *ngIf="exercise" class="exercise-detail-background">
        <div class="overlay">
            <ion-card class="exercise-description">
                <ion-card-header>
                    <ion-card-title class="exercise-title">{{exercise.title}}</ion-card-title>
                    <ion-card-subtitle>
                        <div class="subtitle">
                            <span>Type:</span>
                            <div>
                                <ion-badge *ngFor="let type of exercise.type" color="success">{{type.title}}</ion-badge>
                            </div>
                        </div>
                        <div class="subtitle">
                            <span>Targets:</span>
                            <div>
                                <ion-badge *ngFor="let group of exercise.muscleGroups">{{group.title}}</ion-badge>
                            </div>
                        </div>
                        <div class="subtitle">
                            <span>Difficulty:</span>
                            <div>
                                <div class="difficulty-bar">
                                    <span [style]="'border: 1px solid #2dd36f;'"></span>
                                    <span [style]="exercise.difficulty >= 2 ? 'border: 1px solid #2dd36f;' : 'border: 1px solid #282d2d;'"></span>
                                    <span [style]="exercise.difficulty >= 3 ? 'border: 1px solid #2dd36f;' : 'border: 1px solid #282d2d;'"></span>
                                </div>
                            </div>
                        </div>
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="description">{{exercise.description}}</div>
                </ion-card-content>
            </ion-card>
            <ion-card *ngFor="let item of charts | keyvalue" class="progress-card">
                <ion-card-header>
                    <ion-card-title class="ion-text-center">Your progress</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-segment [(ngModel)]="selectedSegment[item.key]" class="unitSegments">
                        <ion-segment-button *ngFor="let exercise of item.value; let i = index"
                            value="{{item.key + '_' + i}}"
                            [ngClass]="{ 'segment-button-checked' : selectedSegment[item.key] === item.key + '_' + i  }">
                            <ion-label>{{exercise.options.yAxis[0].unit.abbreviation}}</ion-label>
                        </ion-segment-button>
                    </ion-segment>
                    <div *ngFor="let exercise of item.value; let i = index" class="highcharts-chart-tab">
                        <highcharts-chart
                            *ngIf="selectedSegment !== undefined && selectedSegment[item.key] == item.key + '_' + i"
                            [Highcharts]="Highcharts" [options]="exercise.options"
                            [ngStyle]="{'width':width +'%','height':height+'%','display':'block'}">
                        </highcharts-chart>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>

    </div>
</ion-content>
<app-menu></app-menu>