<top-navigation-bar :pageTitle="My progress" backRoute="/home"></top-navigation-bar>
<ion-content [fullscreen]="true">
    <div class="ion-padding">
        <ion-card>
            <ion-card-header>
                <ion-card-title class="ion-text-center">Curl</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [ngStyle]="{'width':width +'%','height':height+'%','display':'block'}">
                </highcharts-chart>
            </ion-card-content>
        </ion-card>

    </div>

</ion-content>
<app-menu></app-menu>