.unit {
    margin-right: 5px;
}

.exercise-miniature {
    max-height: 100px;
    max-width: 20%;
}

.exercise-card-program {
    border-radius: 15px;
    margin-bottom: 20px;
}

.background-overlay {
    background: linear-gradient(36deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2189250700280112) 80%);
    backdrop-filter: blur(1px);
    padding: 15px;
    width: 100%;
}

ion-item {
    --inner-border-width: 0px;
    --border-width: 0 0 0 0 !important;
    --inner-padding-end: 0px;
    -webkit-box-shadow: 0px 18px 5px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 5px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 5px -13px rgba(0, 0, 0, 0.75);
}

ion-label {
    margin-bottom: 10px;
    font-family: "Montserrat";
    color: #FEFEFE!important;
    font-size: 20px!important;
    font-weight: 100!important;
}

ion-badge {
    padding: 6px;
}