<ion-toolbar class="search-bar">
    <ion-accordion-group>
        <ion-accordion class="filters-dropdown">
            <ion-input fill="outline" slot="header" type="text" placeholder="Search for an exercise..."
                [(ngModel)]="textSearch" [clearInput]="true" class="text-search-input" (ionInput)="onInput($event)">
                <ion-icon slot="end" name="search-outline" aria-hidden="true"></ion-icon>
            </ion-input>
            <div slot="content">
                <div class="filters">
                    <div>
                        <ion-select label="Type" [multiple]="true" interface="popover" [(ngModel)]="typeSearch">
                            <ion-select-option *ngFor="let type of types" [value]="type">
                                {{type}}
                            </ion-select-option>
                        </ion-select>
                    </div>
                    <div>
                        <ion-select label="Muscle groups" [multiple]="true" interface="popover"
                            [(ngModel)]="muscleGroupSearch">
                            <ion-select-option *ngFor="let muscleGroup of muscleGroups" [value]="muscleGroup">
                                {{muscleGroup}}
                            </ion-select-option>
                        </ion-select>
                    </div>
                    <div>
                        <ion-select label="Difficulty" [multiple]="true" interface="popover"
                            [(ngModel)]="difficultySearch">
                            <ion-select-option value="1">
                                Beginner
                            </ion-select-option>
                            <ion-select-option value="2">
                                Intermediate
                            </ion-select-option>
                            <ion-select-option value="3">
                                Advanced
                            </ion-select-option>
                        </ion-select>
                    </div>
                </div>
            </div>
        </ion-accordion>
    </ion-accordion-group>
</ion-toolbar>
<ion-content [fullscreen]="true">
    <div class="loader" *ngIf="loading">
        <ion-spinner name="bubbles" color="success"></ion-spinner>
    </div>
    <div *ngIf="!loading">
        <div *ngFor="let exercise of exercises">
            <exercise-card [exercise]="exercise" *ngIf="matchFilters(exercise)" (click)="selectExercise(exercise)" [fromProgram]="addExerciseToProgram"></exercise-card>
        </div>
    </div>
</ion-content>