ion-card {
    background: #282D2D;
    border-radius: 17px;
    display: flex;
    box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, 0.75);
}

ion-list {
    padding: 0;
    background: transparent;
}

ion-fab-button {
    background: linear-gradient(180deg, rgb(45, 211, 111) 0%, rgba(45, 211, 111, 0.7) 100%);
}