<top-navigation-bar :pageTitle="My programs" backRoute="/start-workout"></top-navigation-bar>
<ion-content [fullscreen]="true">
    <ion-card *ngFor="let program of programs" [routerLink]="'/programs/' + program.id">
        <ion-card-header>
            <ion-card-title class="ion-text-center">{{program.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list lines="full">
                <exercise-list-item *ngFor="let programExercise of program.programExercises" [programExercise]="programExercise"></exercise-list-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/create-program" color="success">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
<app-menu></app-menu>