<ion-content [fullscreen]="true">
    <div class="loader" *ngIf="loading">
        <ion-spinner name="bubbles" color="success"></ion-spinner>
    </div>
    <div *ngIf="!loading">
        <ion-img src="/assets/icon/ion-foregound.png"></ion-img>
        <h1>Sign in</h1>
        <form [formGroup]="formData">
            <ion-input label="Email" label-placement="stacked" fill="outline" formControlName="email" type="email"
                placeholder="Enter your email" #emailInput></ion-input>
            <div *ngIf="formData.get('email')?.invalid && (formData.get('email')?.dirty || formData.get('email')?.touched)"
                class="input-error">
                <span *ngIf="formData.get('email')?.hasError('required')">
                    Email is required
                </span>
            </div>
            <ion-input label="Password" label-placement="stacked" fill="outline" formControlName="plainPassword"
                type="password" placeholder="Enter your password"></ion-input>
            <div *ngIf="formData.get('plainPassword')?.invalid && (formData.get('plainPassword')?.dirty || formData.get('plainPassword')?.touched)"
                class="input-error">
                <span *ngIf="formData.get('plainPassword')?.hasError('required')">
                    Password is required
                </span>
            </div>
            <div *ngIf="error" class="input-error">
                <span>
                    {{ error }}
                </span>
            </div>
            <ion-button (click)="login()" expand="block" shape="round" class="login-btn" color="success">Sign in</ion-button>
        </form>
        <ion-button routerLink="/register" expand="block" shape="round" class="register" color="success">Create your account</ion-button>
    </div>
</ion-content>