<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar>
                <ion-tab-button routerLink="/exercises" routerLinkActive="selected">
                    <ion-icon name="barbell"></ion-icon>
                    Exercises
                </ion-tab-button>
                <ion-tab-button routerLink="/programs" routerLinkActive="selected">
                    <ion-icon name="calendar-clear"></ion-icon>
                    My programs
                </ion-tab-button>
                <ion-tab-button [routerLink]="route" routerLinkActive="selected" *ngIf="centerBtn !== 'endWorkout'">
                    <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
                    <span *ngIf="!loading">{{ title }}</span>
                </ion-tab-button>
                <ion-tab-button (click)="finishWorkout(workout)" *ngIf="centerBtn == 'endWorkout'">
                    Finish workout
                </ion-tab-button>
                <ion-tab-button routerLink="/progress" routerLinkActive="selected" >
                    <ion-icon name="bar-chart"></ion-icon>
                    My progress
                </ion-tab-button>
                <ion-tab-button routerLink="/my-calendar" routerLinkActive="selected" >
                    <ion-icon name="calendar-number"></ion-icon>
                    My calendar
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>