<ion-toolbar>
    <ion-tabs>
        <ion-tab-bar>
            <ion-tab-button routerLink="/programs" routerLinkActive="selected">
                <ion-icon name="calendar-clear"></ion-icon>
                Programs
            </ion-tab-button>
            <ion-tab-button routerLink="/exercises" routerLinkActive="selected">
                <ion-icon name="barbell"></ion-icon>
                Exercises
            </ion-tab-button>
            <ion-tab-button tab="radio">
                Start
            </ion-tab-button>
            <ion-tab-button tab="library">
                <ion-icon name="bar-chart"></ion-icon>
                Progress
            </ion-tab-button>
            <ion-tab-button tab="search">
                <ion-icon name="calendar-number"></ion-icon>
                Workouts
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>