<top-navigation-bar :pageTitle="Your program" backRoute="/programs"></top-navigation-bar>
<ion-content [fullscreen]="true">
    <h1>Create your program</h1>
    <form [formGroup]="formData">
        <ion-input label="Program name" label-placement="stacked" fill="outline" formControlName="title" type="text"
            class="program-title" placeholder="Enter your program name"></ion-input>
        <div *ngIf="formData.get('title')?.invalid && (formData.get('title')?.dirty || formData.get('title')?.touched)"
            class="input-error">
            <span *ngIf="formData.get('title')?.hasError('required')">
                Title is required
            </span>
        </div>
        <ion-button (click)="openModal()">
            Add an exercise
        </ion-button>
        <ion-item *ngFor="let j of selectedKeys; let i = index;">
            <ion-grid>
                <ion-row>
                    <ion-col class="label-col"
                        [style]="selectedKeys.length > 1 && i < (selectedKeys.length - 1) ? '' : 'align-items: center'">
                        <ion-select justify="center" [interfaceOptions]="actionSheetOptions" interface="action-sheet"
                            placeholder="Add an exercise"
                            [style]="selectedKeys.length > 1 && i < (selectedKeys.length - 1) ? 'width:auto' : ''"
                            (ionChange)="exerciseSelected($event, j)" value="{{ selectedExercises[i] }}">
                            <ion-select-option value="{{exercise.id}}"
                                *ngFor="let exercise of exercises">{{exercise.title}}
                            </ion-select-option>
                        </ion-select>
                    </ion-col>
                    <ion-col class="action-col" *ngIf="selectedKeys.length > 1 && i < (selectedKeys.length - 1)">
                        <ion-input label="X" type="number" (ionChange)="setEntered($event, j)"
                            value="{{ selectedSets[i] ? selectedSets[i] : 1 }}"></ion-input>
                        <ion-icon color="danger" name="close" (click)="deleteExercise(j)"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <div class="input-error" *ngIf="error">
            <span>
                {{ error }}
            </span>
        </div>
        <ion-button (click)="addProgram()" expand="block" shape="round" class="save-btn"
            color="success">Save</ion-button>
    </form>

    <ion-modal #modal [isOpen]="isModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Add an exercise</ion-title>
                    <ion-buttons slot="end">
                        <ion-icon size="large" name="close" (click)="closeModal()"></ion-icon>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                Content
            </ion-content>
        </ng-template>
    </ion-modal>


</ion-content>
<app-menu></app-menu>