<top-navigation-bar :pageTitle="Your program" backRoute="/programs"></top-navigation-bar>
<ion-content [fullscreen]="true">
    <h1>Create your program</h1>
    <form [formGroup]="formData">
        <ion-input label="Program name" label-placement="stacked" fill="outline" formControlName="title" type="text"
            class="program-title" placeholder="Enter your program name"></ion-input>
        <div *ngIf="formData.get('title')?.invalid && (formData.get('title')?.dirty || formData.get('title')?.touched)"
            class="input-error">
            <span *ngIf="formData.get('title')?.hasError('required')">
                Title is required
            </span>
        </div>
        <div class="program-exercise-container" *ngFor="let exercise of programExercises">
            <exercise-card [exercise]="exercise" [fromProgram]="true" [programExercise]="true" class="program-exercise" style="width: 90%;"></exercise-card>
            <ion-icon color="danger" name="close" (click)="deleteExercise(exercise)"></ion-icon>
        </div>
        <ion-button (click)="openModal()" shape="round" expand="block" style="margin-top:30px;">
            Add exercise
        </ion-button>
        <div class="input-error" *ngIf="error">
            <span>
                {{ error }}
            </span>
        </div>
        <ion-button (click)="addProgram()" expand="block" shape="round" class="save-btn" style="margin-bottom: 20px;"
        color="success">Save program</ion-button>
    </form>

    <ion-modal #modal [isOpen]="isModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Select an exercise</ion-title>
                    <ion-buttons slot="end">
                        <ion-icon size="large" name="close" (click)="closeModal()"></ion-icon>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <exercises-list [addExerciseToProgram]="true"
                    (exerciseSelected)="onExerciseSelected($event)"></exercises-list>
            </ion-content>
        </ng-template>
    </ion-modal>

    <ion-modal #setsModal [isOpen]="isSetsModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Define the number of sets</ion-title>
                    <ion-buttons slot="end">
                        <ion-icon size="large" name="close" (click)="closeSetsModal()"></ion-icon>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <div class="ion-padding">
                    <h2>Exercise selected : </h2>
                    <exercise-card [exercise]="selectedExercise" [fromProgram]="true"></exercise-card>
                    <h2 style="margin-top:100px;">How many sets? </h2>
                    <div class="sets-input-container">
                        <ion-icon name="remove-outline" (click)="decrementSets()"></ion-icon>
                        <h2>{{setsCount}} Set{{ setsCount > 1 ? 's' : ''}}</h2>
                        <ion-icon name="add-outline" (click)="incrementSets()"></ion-icon>
                    </div>
                    <ion-button (click)="addExerciseToProgram()" expand="block" shape="round" class="save-btn"  style="padding-inline: 20px;"
                        color="success">Add to your program</ion-button>
                </div>
            </ion-content>
        </ng-template>
    </ion-modal>
    
</ion-content>
<app-menu></app-menu>