.unit {
    margin-right: 5px;
}

.exercise-miniature {
    max-height: 100px;
    max-width: 20%;
}

ion-card-header {
    padding-inline: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

ion-badge {
    width: fit-content;
    margin-right: 0 !important;
}

ion-badge.ion-color-success {
    background-color: #2dd36f !important;
}

ion-card-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}

ion-card {
    background: #151919;
    height: 105px;
}

.muscle-group {
    margin-right: 7px !important;
}

.records-list {
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
}

.records-list ion-item {
    --background: transparent;
    color: white;
}