<div>
    <ion-card *ngIf="exercise && fromProgram" class="exercise-card" [style]="programExercise ? 'margin-inline: 0px;height: 95px;':''">
        <ion-card-header>
            <ion-card-title [style]="programExercise ? 'font-size: 13px;':''">
                {{exercise.title}} {{exercise.setsCount || sets ? 'X' : ''}}{{exercise.setsCount || sets}}
                <ion-badge *ngFor="let type of exercise.type" color="success" [style]="programExercise ? 'font-size: 9px;':''">{{type.title}}</ion-badge>
            </ion-card-title>
            <div class="footer">
                <div>
                    <ion-badge class="muscle-group" [style]="programExercise ? 'font-size: 9px;':''"
                        *ngFor="let group of exercise.muscleGroups">{{group.title}}</ion-badge>
                </div>
                <div>
                    <div class="difficulty-bar">
                        <span [style]="'border: 1px solid #2dd36f;'"></span>
                        <span
                            [style]="exercise.difficulty >= 2 ? 'border: 1px solid #2dd36f;' : 'border: 1px solid #282d2d;'"></span>
                        <span
                            [style]="exercise.difficulty >= 3 ? 'border: 1px solid #2dd36f;' : 'border: 1px solid #282d2d;'"></span>
                    </div>
                </div>
            </div>
        </ion-card-header>
    </ion-card>
    <ion-card *ngIf="exercise && !fromProgram" [routerLink]="route ? route : '/exercises/'+exercise.id " class="exercise-card">
        <ion-card-header>
            <ion-card-title>
                {{exercise.title}} {{sets ? 'X' : ''}}{{sets}}
                <ion-badge *ngFor="let type of exercise.type" color="success">{{type.title}}</ion-badge>
            </ion-card-title>
            <div class="footer">
                <div>
                    <ion-badge class="muscle-group"
                        *ngFor="let group of exercise.muscleGroups">{{group.title}}</ion-badge>
                </div>
                <div>
                    <div class="difficulty-bar">
                        <span [style]="'border: 1px solid #2dd36f;'"></span>
                        <span
                            [style]="exercise.difficulty >= 2 ? 'border: 1px solid #2dd36f;' : 'border: 1px solid #282d2d;'"></span>
                        <span
                            [style]="exercise.difficulty >= 3 ? 'border: 1px solid #2dd36f;' : 'border: 1px solid #282d2d;'"></span>
                    </div>
                </div>
            </div>
        </ion-card-header>
    </ion-card>
</div>