<top-navigation-bar :pageTitle="Current workout" backRoute="/home"></top-navigation-bar>
<ion-content [fullscreen]="true">
    <div>
        <ion-accordion-group *ngIf="program && workout">
            <ion-accordion *ngFor="let workoutExercise of workout.workoutExercises">
                <ion-item slot="header" color="light">
                    <ion-label>{{workoutExercise.exercise.title}}</ion-label>
                </ion-item>
                <div slot="content">
                    <ion-grid>
                        <ion-col>
                            <ion-row *ngFor="let set of workoutExercise.sets">
                                <ion-col>
                                    <strong>Set {{set.setId}}</strong>
                                    <ion-button (click)="deleteSet(set, workoutExercise)">Delete</ion-button>
                                </ion-col>
                                <ion-col *ngFor="let unit of workoutExercise.exercise.units">
                                    <ion-input name="recordInput[{{workoutExercise.id}}][{{set.setId}}][{{unit.abbreviation}}]" [(ngModel)]="set[unit.abbreviation]" label="{{unit.abbreviation}}" value="{{set[unit.abbreviation]}}" label-placement="floating" fill="outline" type="number" placeholder="0">
                                    </ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <strong>Set {{workoutExercise.sets.length + 1}}</strong>
                                </ion-col>
                                <ion-col *ngFor="let unit of workoutExercise.exercise.units">
                                    <ion-input name="newRecordInput[{{workoutExercise.id}}][{{workoutExercise.sets.length + 1}}][{{unit.abbreviation}}]" (ionBlur)="saveSet($event, workoutExercise.sets.length + 1, workoutExercise, unit)" label="{{unit.abbreviation}}" label-placement="floating" fill="outline" type="number" placeholder="0" value="">
                                    </ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button (click)="newSet()" expand="block">New set</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-grid>
                </div>
            </ion-accordion>
        </ion-accordion-group>
    </div>
</ion-content>
<app-menu></app-menu>