.exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-success.input-fill-outline.sc-ion-input-md-h {
    --border-color: var(--ion-color-success, #2dd36f);
}

.input-success .native-input {
    --color: var(--ion-color-success, #2dd36f);
    font-weight: bold;
} 

.exercices-accordion-group {
    margin-top: 40px;
}

.delete-exercise-btn {
    margin-left: 10px;
}

ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
}

ion-input {
    color: #fefefe;
}

.program-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-label-placement-start.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    margin-inline-end: 3px !important;
}

.action-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.save-btn {
    margin-top: 40px;
}

ion-select {
    font-family: system-ui;
}
ion-input {
    font-family: system-ui;
}

.label-col {
    display: flex;
    flex-direction: column;
}

.label-col ion-select {
    width: auto;
}

ion-select.has-value::part(icon) {
    display: none!important;
}

ion-col {
    padding: 0;
}

ion-item {
    border-radius: 15px;
    margin-bottom: 20px;
    --background: #282D2D;
    color: #fefefe;
    font-family: "Montserrat";
    font-weight: 600;
}

ion-accordion {
    background: transparent;
}

ion-chip.ion-color-default {
    color: #595959 !important;
    background: var(--fc-event-selected-overlay-color);
}

ion-chip {
    min-height: 23px;
    padding: 7px;
}

.add-set-btn {
    margin-top: 15px;
    margin-bottom: 30px;
}

ion-col {
    color: #fefefe;
    font-family: system-ui;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

h6 {
    color: #fefefe;
    font-family: system-ui;
}

ion-grid {
    padding-top: 0;
}

.record-input {
    font-size: 13px;
}

ion-item.ion-activated {
    --color: #fefefe;
    --background: var(--fc-neutral-bg-color);
}

.delete-workout-btn {
    margin-top: 50px;
}