/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-segment-button {
    --color-checked: #FEFEFE;
    font-weight: 100;
    font-size: 13px;
    text-transform: capitalize;
    font-family: "Montserrat";
    min-width: unset;
}

ion-content {
    --background: #151919;
}

ion-toolbar {
    --background: transparent;
    color: #FEFEFE;
}

ion-header,
ion-footer {
    box-shadow: none !important;
}

ion-header {
    background: #151919;
}

ion-tab-bar {
    --background: transparent;
    color: #FEFEFE;
    border: none;
    font-family: system-ui;
    height: 100px;
}

ion-tab-button.selected {
    color: #D7F2F4 !important;
}

ion-card {
    margin-inline: 20px;
    margin-bottom: 20px;
}

ion-card-title {
    font-family: "Montserrat";
    color: #FEFEFE;
    font-size: 20px;
    font-weight: 100;
}

ion-badge {
    padding: 7px;
    font-family: "Montserrat";
    border-radius: 15px;
    font-weight: 400;
    font-size: 11px;
    margin-right: 10px !important;
    background-color: #D7F2F4;
    color: #151919;
}

ion-title {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 17px;
    padding-inline: 0;
}

.exercise-card {
    background-size: cover !important;
    height: 120px;
    background-repeat: no-repeat;
    border-radius: 17px;
    display: flex;
    -webkit-box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, 0.75);
}

.exercise-card ion-card-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-radius: 17px;
    background-size: cover!important;
    width: 100%;
    background: linear-gradient(36deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2189250700280112) 80%);
    backdrop-filter: blur(1px);
}

.exercise-detail-background {
    background-position: center !important;
    background-size: cover !important;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.overlay {
    background: linear-gradient(36deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2189250700280112) 80%);
    backdrop-filter: blur(2px);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100vh;
}

.segment-button-checked {
    background: var(--background-checked);
    color: #FEFEFE;
}

ion-button.button-block {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
}

.button-solid {
    --background: #D7F2F4;
    --color: #151919;
}

h1 {
    text-align: center;
    color: #FEFEFE;
    font-family: 'Montserrat';
    margin-bottom: 30px;
    margin-top: 30px;
}

h2 {
    text-align: center;
    color: #FEFEFE;
    font-family: 'Montserrat';
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 17px!important;
}

ion-fab-button {
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
    border-radius: 100%;
    position: absolute;
    right: 5px;
    bottom: -30px;
}

.highcharts-credits {
    fill:transparent!important;
}

.input-error {
    padding: 4px;
    padding-left: 15px;
    font-size: 12px;
    color: #eb445a;
    font-family: system-ui;
}

.dev-env {
    color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 81px;
    margin: 0 auto;
    display: block;
    font-style: italic;
}

ion-input {
    --highlight-color-focused: #45D36F!important;
}

ion-input {
    background: #282D2D;
}

.difficulty-bar span {
    display: inline-block;
    height: 24px;
    width: 7px;
    margin: 1px;
    border-radius: 5px;
}

.difficulty-bar span:nth-of-type(1) {
    height: 12px;
}
.difficulty-bar span:nth-of-type(2) {
    height: 19px;
}
.difficulty-bar span:nth-of-type(3) {
    height: 24px;
}