/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-segment-button {
    --color-checked: #FEFEFE;
    font-weight: 100;
    font-size: 11px;
    text-transform: capitalize;
    font-family: "Montserrat";
    min-width: unset;
}

ion-content {
    --background: #151919;
}

ion-toolbar {
    --background: #151919;
    color: #FEFEFE;
}

ion-header,
ion-footer {
    box-shadow: none !important;
}

ion-tab-bar {
    --background: #151919;
    color: #FEFEFE;
    border: none;
}

ion-tab-button.selected {
    color: #D7F2F4 !important;
}

ion-card {
    margin-inline: 30px;
    margin-bottom: 20px;
}

ion-card-title {
    font-family: "Montserrat";
    color: #FEFEFE;
    font-size: 20px;
    font-weight: 100;
}

ion-badge {
    padding: 7px;
    font-family: "Montserrat";
    border-radius: 15px;
    font-weight: 400;
    font-size: 11px;
    margin-right: 10px !important;
    background-color: #D7F2F4;
    color: #151919;
}

ion-title {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 17px;
    padding-inline: 0;
}

.exercise-card {
    background-size: cover;
    height: 120px;
    background-repeat: no-repeat;
    border-radius: 17px;
    display: flex;
    -webkit-box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 5px -10px rgba(0, 0, 0, 0.75);
}

.exercise-card ion-card-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background: linear-gradient(36deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2189250700280112) 80%);
    backdrop-filter: blur(1px);
}

.exercise-detail-background {
    background-position: center !important;
    background-size: inherit !important;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.overlay {
    background: linear-gradient(36deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2189250700280112) 80%);
    backdrop-filter: blur(2px);
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100vh;
}

.segment-button-checked {
    background: var(--background-checked);
    color: #FEFEFE;
}