<ion-content [fullscreen]="true">
    <h1>Create account</h1>
    <form [formGroup]="formData">
        <ion-input label="Email" label-placement="floating" formControlName="email" type="email" placeholder="Enter your email"></ion-input>
        <div *ngIf="formData.get('email')?.invalid && (formData.get('email')?.dirty || formData.get('email')?.touched)">
            <span *ngIf="formData.get('email')?.hasError('required')">
                Email is required
            </span>
            <span *ngIf="formData.get('email')?.hasError('email')">
                Invalid email address
            </span>
        </div>
        <ion-input label="Password" label-placement="floating" formControlName="plainPassword" type="password"></ion-input>
        <div *ngIf="formData.get('plainPassword')?.invalid && (formData.get('plainPassword')?.dirty || formData.get('plainPassword')?.touched)">
            <span *ngIf="formData.get('plainPassword')?.hasError('required')">
                Password is required
            </span>
            <span *ngIf="formData.get('plainPassword')?.hasError('minLength')">
                Password should be at least 5 characters long
            </span>
            <span *ngIf="formData.get('plainPassword')?.hasError('pattern')">
                Password is not strong enough
            </span>
        </div>
        <ion-input label="Password confirmation" label-placement="floating" formControlName="confirmPassword" type="password"></ion-input>
        <div *ngIf="formData.get('confirmPassword')?.invalid && (formData.get('confirmPassword')?.dirty || formData.get('confirmPassword')?.touched)">
            <span *ngIf="formData.get('confirmPassword')?.hasError('required')">
                Password confirmation is required
            </span>
            <span *ngIf="formData.get('confirmPassword')?.hasError('confirmedValidator')">
                Password confirmation doesn't match your password
            </span>
        </div>
        <ion-button (click)="register()" expand="block" shape="round">Register</ion-button>
        <div *ngIf="error">
            <span>
                {{ error }}
            </span>
        </div>
        <ion-button expand="block" routerLink="/login" shape="round">Back</ion-button>
    </form>
</ion-content>